Source: adjtimex
Section: admin
Priority: optional
Maintainer: James R. Van Zandt <jrv@debian.org>
Build-Depends: debhelper (>= 5), po-debconf
Standards-Version: 3.8.1

Package: adjtimex
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}, debconf | debconf-2.0
Suggests: ntpdate
Description: Utility to display or set the kernel time variables
 This program gives you raw access to the kernel time variables.  For
 a machine connected to the Internet, or equipped with a precision
 oscillator or radio clock, the best way to keep the system clock
 correct is with ntpd.  However, for a standalone or intermittently
 connected machine, you may use adjtimex instead to at least correct
 for systematic drift.  adjtimex can optionally adjust the system
 clock using the CMOS clock as a reference, and can log times for
 long-term estimation of drift rates.
