#!/usr/bin/make -f

package=adjtimex
version=$(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
arch=$(shell dpkg --print-architecture)

EXAMPLE_DIR=debian/tmp/usr/doc/examples/$(package)
EXAMPLES=
DOC_DIR=debian/tmp/usr/doc/$(package)
DOCS=README debian/README debian/changelog

build:
	$(checkdir)
	./configure
	$(MAKE) LDFLAGS=-s CC="gcc -g -O2" adjtimex 
	touch build

clean:
	$(checkdir)
	-rm -f build
	-rm -f *.o adjtimex 
	-rm -rf debian/tmp *~ 

binary: binary-indep binary-arch

binary-indep:

binary-arch:	build
	-rm -rf debian/tmp
	install -d -m 755 -o root -g root debian/tmp debian/tmp/DEBIAN
	install -d -m 755 -o root -g root debian/tmp/usr/doc/copyright
	install -d -m 755 -o root -g root debian/tmp/usr/doc/$(package)
	install -m 644 -o root -g root debian/conffiles debian/tmp/DEBIAN/conffiles
	install -m 755 -o root -g root debian/postinst debian/tmp/DEBIAN/postinst
	install -d -m 755 -o root -g root debian/tmp/etc/rc.boot
	install -d -m 755 -o root -g root debian/tmp/usr/sbin
	install -d -m 755 -o root -g root debian/tmp/usr/man/man8
	install -s -m 755 -o root -g root adjtimex debian/tmp/usr/sbin
	install -m 644 -o root -g root adjtimex.man debian/tmp/usr/man/man8/adjtimex.8
	install -m 644 -o root -g root debian/adjtimexconfig.8 debian/tmp/usr/man/man8/adjtimexconfig.8
	gzip -9f debian/tmp/usr/man/man8/{adjtimex,adjtimexconfig}.8
	install -m 755 -o root -g root debian/adjtimexconfig debian/tmp/usr/sbin
	install -m 644 debian/copyright debian/tmp/usr/doc/copyright/$(package)
	install -m 755 debian/rc debian/tmp/etc/rc.boot/$(package)
	install -m 644 debian/README debian/tmp/usr/doc/$(package)
	install -m 644 debian/changelog debian/tmp/usr/doc/$(package)
	install -m 644 README debian/tmp/usr/doc/$(package)
	gzip -9f debian/tmp/usr/doc/$(package)/*
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg-shlibdeps debian/tmp/usr/sbin/adjtimex
	dpkg-gencontrol
	dpkg --build debian/tmp && dpkg-name -o -s ..  debian/tmp.deb 
